.welcome-header {
  margin: 80px 0 60px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.welcome-header__title {
  margin-bottom: 30px;
  font-size: 25px;
}

.welcome-header__text {
  opacity: 0.5;
}

.welcome-header__text p:first-child {
  margin-bottom: 5px;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

#login-form input {
  border: none;
  padding: 15px 0;
  font-size: 18px;
  margin-bottom: 20px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.4s ease-in-out;
}

#login-form input:not([type="submit"])::placeholder {
  transition: color 0.4s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input:focus::placeholder {
  color: rgba(55, 30, 30, 0.7);
}

#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  padding: 18px 0;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  color: rgb(87, 87, 87);
}
